#selected {
    position: relative;
    left: 800px;
    bottom: 2150px;    
    font-family: fantasy;  
    color:blue;
    font-style: bold; 
    font-size: 30px; 
    word-spacing: 10px;
    background-color: red;
    
 }
