h1 { position: relative; bottom: 300px; }

nav { position: absolute; top:0; right: 0;}
nav ul {list-style-type: none; margin: auto; text-align: center;}
nav ul li { display: inline; padding: 30px; font-size: 60px;}
nav ul li a { color:blue; font-family: fantasy; }

#selected { background-color: yellow;}

.title {
color: blue;
text-align: center;
font-family: fantasy;
font-size: 140px;
}

.wmicon {
position: relative; 
bottom: 100px; 
right: 25px; 
width: 25%;
height: auto;
}

.subtitle {
color:blue;
font-size: 70px;

font-family: fantasy;
position: relative;
bottom: 185px; 
}

.web_address_title {
color:blue;
font-family: fantasy;
font-size: 95px;
margin-bottom: 20px;
text-align: center;
position: relative;
bottom: 800px; 

}

.slogan {
color: blue;
font-family: fantasy;
font-size: 70px;
position: relative; 
text-align: center;
bottom: 890px; 
}

.subslogan {
color: blue;
text-align: center;
font-family: fantasy;
font-size: 60px;
position: relative; 
bottom: 375px; 
}

.programs {
color:blue;
font-family: fantasy;
font-size: 80px;

position: relative; 
bottom: 170px; 
}

.apps {

font-family: fantasy;
list-style-type: none;
font-size: 30px;
line-height: 70px; 
color: blue;
position: relative;
bottom: 240px;
}    

.description {
color: blue;
line-height: 40px;
font-family: fantasy; 
margin: 10px;
font-size: 20px;

position: relative;
bottom: 260px; 
}

.audio-description {
color: blue;
margin: 10px;
font-family: fantasy; 
font-size: 20px;
}
